html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

#game_frame {
	width: 80%;
	height: 80%;
	margin: auto;
	margin-top: 0;
	background-color: #000;
	border: 4px solid white;
	vertical-align: middle;
}

#game {
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
}